#faq-section {
    margin-top: 2rem;
    margin-bottom: auto;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 1rem;
  }
  #faq-section h2 {
    padding: 1rem;
    font-style: normal;
  }
  #faq-section summary {
    max-width: 100vw;
    padding: .5rem 1rem;
    text-align: left;
    color: black;
    line-height: 1.25;
    margin: 0;
    width: 100%;
    font-size: 22px;
    font-style: normal;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    position: relative;
    padding-right:2.5ch;
  }
  #faq-section p {
    font-size: 16px;
    font-style: normal;
    padding: .001rem 1rem;
  }
  #faq-section summary+p {
    font-size: 16px;
    font-style: normal;
    padding: .5rem 1rem;
  }
  #faq-section p+ul {
    font-size: 16px;
    font-style: normal;
    padding: .5rem 2rem;
  }
  #faq-section details[open] summary::after {
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
  }
  #faq-section summary::after {
    scale: 2.0;
    content: "«";
    color: #000000;
    transform: rotate(90deg);
    transition: all .35s ease;
    transform-origin: 48% 53%;
    position: absolute;
    right: 1ch;
    top:10%;
  }
  #faq-section details summary{margin-top:5px;margin-bottom:5px;}
  #faq-section details[open] summary {
    background: rgba(234, 234, 234, 0.949);
  }
  #faq-section details summary::-webkit-details-marker,
  details summary::marker {
    display: none;
    content: "";
  }